.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #cccccc5d;
}

.navbar__list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar__link {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;

  &:hover {
    background-color: #cccccc15;
  }
}
