#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.container__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container--loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

@media (max-width: 1024px) {
  .container__list {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;
  }
}
@media (max-width: 768px) {
  .container__list {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem auto;
  }
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
